* {
  margin: 0;
  padding: 0;
}
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
  line-height: 1.6;
}
header {
  background: #50b3a2;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}
.navbar ul {
  list-style: none;
  padding: 0;
}
.navbar ul li {
  display: inline;
  margin: 0 15px;
}
.navbar ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}
.navbar ul li a:hover {
  text-decoration: underline;
  transform: scale(0.9);
}
.container {
  max-width: 1100px;
  margin: auto;
  padding: 20px;
}
h1,
h2,
h3 {
  margin-bottom: 15px;
}
p {
  margin-bottom: 10px;
}
.body {
  padding: 10px;
  margin: 0% 5%;
}
